if (app.popularContent.length > 0)
  ul
    each item in app.popularContent
      li
        a(href=item.href)
          if (item.createdAt)
            span #{ item.createdAt }&nbsp;
          span #{ item.title }
