//- Which meta property to render. Defaults to `is_home_teaser`, the name in
//- the shipped config. If you renamed meta_property_name in
//- config/popular-content.yaml, set this before the include:
//-     - var homeTeaserKey = 'my_name'
//-     include ../vendor/plugin-popular-content/teaser
-
    var key = typeof homeTeaserKey !== 'undefined' ? homeTeaserKey : 'is_home_teaser'
    var items = (app.popularContent && app.popularContent[key]) || []
if items.length > 0
    section.home-teasers
        h2.home-teasers__title Featured Content
        .home-teasers__grid
            each item in items
                article.home-teasers__card
                    header.home-teasers__header
                        h3.home-teasers__card-title #{item.title}
                    .home-teasers__content
                        if item.description
                            p.home-teasers__description #{item.description}
                    footer.home-teasers__footer
                        a.home-teasers__link(href=item.href) Read more
